body{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-family: Arial;
	font-size: 18px;
	background: url(bg image.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
#nav1{
	background-color: #222;

}
#nav1_wrapper{
	width: 960px
	margin:0 auto;
	text-align: left;
}
#nav1 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#nav1 ul li{
	display: inline-block;
}
#nav1 ul li:hover{
	border-color: #333;

}
#nav1 ul li a,visited{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav1 ul li a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;


}
